.product_container{
  padding: 0rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  place-items: center;
  margin: 0px;
  padding: 2rem;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.product_image{
  border-radius: 10px;
  width: 17vw;
  margin-bottom: 10px;
  margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    cursor: pointer;
}

.product_description{

}