/* .product_outside {
    position: relative;
  }
  
  .product_img {
    width: 100%;
    height: auto;
  }
  
  .product_name {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 16px;
  }
   */

   .product_container {
    display: flex;
    background-color: rgb(249, 242, 233);
  }
  
  .product_description {
    flex: 1;
    padding-left: 100px;
  }
  
  .product_image {
    flex: 1;
  }
  
  .product_image img {
    width: 50%;
    height: auto;
    padding-left: 50px;
    /* background-color: antiquewhite; */

  }