.searchInput{
    width: 1000px;
    height: 28px;
    font-size: 18px;
    
}


.searchInput::placeholder {
    color: red;
  }
.searchButton{
    margin-top: 2px;
    /* padding-top: 10px; */
    height: 28px;
    font-size: 15px;


}