.signup_outside{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    /* padding: 0 20px; */
    left:  50%;
    transform: translate(-50%,0);
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color:rgb(238, 236, 236);
}

.titleWrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #262626;
    
}

.contentWrap{
    margin-top: 26px;
    display: flex;
    justify-content: center;
    overflow: auto;
    /* overflow-y: scroll; */
}
.forminsideWrap{
    flex:1;
    display: flex;
    flex-direction: column;
}

.inputTitle{
    padding-left: 1%;
    font-size: 15px;
    font-weight: 600;
    color: #262626;
    width: 450px;
}

.inputWrap{
    margin-left: 25px;
    width: 80%;
    /* display: flex;
    justify-content: center; */
    border-radius: 25px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid rgb(137, 137, 136);
    flex: 1;
}

.inputWrap:focus-within{
    border: 2px solid rgb(23, 98, 239);
}

.signup_input{
    width: 100%;
    outline: none;
    border: none;
    height: 13px;
    font-size: 14px;
    font-weight: 400;
}

.gender{
    font-size: 15px;
    font-weight: 400;
    flex: 1;
}

.btn-signup{
    font-size: 15px;
    width: 88%;
    margin-left: 5%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: rgb(23, 98, 239);
    border-radius: 64px;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;

}

.btn-signup:disabled{
background-color: #dadada;
color: white;
}

@media screen and (max-width: 768px ){
  /* .inputTitle{

    padding-left: 2%;
    font-size: 12px;
    font-weight: 600;
    color: #262626;
    width: 100%;

  }

  .contentWrap{
    display: flex;
    justify-content: center;
  }
  .inputWrap{

  }

  .btn-signup{
    margin-left: 13%;

} */

  }
  
  @media screen and (max-width: 480px ){
    .inputTitle{

        /* padding-left: 2%; */
        font-size: 13px;
        font-weight: 600;
        color: #262626;
        width: 100%;
    
      }
    
      .contentWrap{
        display: flex;
        justify-content: center;
        margin: 5px;
      }
      .inputWrap{
        margin: 5px;
        padding: 12px;
      }
    
      .btn-signup{
        /* margin-left: 13%; */
    
    }
    

}