/* .simul {
    display: flex;
    justify-content: center;
    text-align: center;
  } */
  
/* .content{
    text-align: center;

} */

/* .content {
    margin: 0 auto;
    text-align: center;
  } */

  .simul_backcolor{
    display: flex;
    justify-content: center;
  }
  
  .animation {
    animation: changeText 2s linear forwards;
    color: rgb(255, 167, 182);
  }
  
  @keyframes changeText {
    0% {
      padding-left: 0px;
      padding-top: 5px;
      opacity: 0;
    }
    100% {
      padding-left: 20px;
      padding-top: 5px;
      opacity: 1;
    }
  }

  .player {
    position: relative;
    display: flex;
    justify-content: center;

    height: 0;
    padding-top: 56.25%;
  }
  
  .youtube-player {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 60%;
    height: 60%;
    
  }  
  
